@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    --bg-page: #313236;
    --chat-zone: #1c1d1f;
    --ice-white: #ffff;
    --main: #52575D;
    --second: #c69991;
    --link: #9BB4C0;
    --btn-1: #767F9E;
    --btn-2: #9FA1FF;
    --title: 'Black Ops One', sans-serif
}


.register-page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: var(--bg-page);
    overflow: hidden;
}

.register-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-tag svg {
    fill: orange;
}

.register-tagline {
    color: var(--main);
    font-size: .95em;
    width: 80%;
    letter-spacing: .5px;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

.register-footer {
    color: var(--link);
    font-size: .75em;
    opacity: .7;
    text-align: center;
    margin: 0;
}

.register-cover {
    background: var(--main);
    width: 70%;
    max-width: 500px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

.register-cover h2 {
    font-family: var(--title);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.register-cover h2 svg {
    fill: var(--btn-2);
    filter: drop-shadow(0 0 5px #00000085);
}

.register-cover input {
    padding: 10px;
    border-radius: 0 10px 0 10px;
    border: none;
    margin: 5px;
    width: 60%;
    background: #ffffff75;
    color: var(--main);
    cursor: pointer;
    transition: ease-in-out .3s;
    outline: none;
    filter: blur(0);
}


.register-cover:focus-within input {
    filter: blur(2px);
    scale: .95;
}


.register-cover input:focus {
    filter: blur(0);
    scale: 1.05;
}

.register-cover input::placeholder {
    color: var(--main);
}

.register-cover form .btn-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.register-cover form .btn-section .Link {
    font-size: .8em;
    text-decoration: none;
    color: var(--link);
}

.register-cover form .btn-section button {
    width: fit-content;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: var(--btn-1);
    transition: ease-in-out .3s;
}

.register-cover form .btn-section button:hover {
    background: var(--btn-2);
}